// Homecare palette System
// This file defines multiple palettes that can be applied via body classes

// Color map for palettes
$palette-colors: ( // Default Palette Colors
    "blue": ("text-primary": #0063BE, //heading color text
        "text-secondary": #333333, //body color text
        "text-tertiary": #ffffff, //link color text
        "text-quaternary": #ffffff, //link color text

        // link
        "link-primary-color": #0063BE, //link color text
        "link-primary-hover-color": #002A51, //link hover color
        "link-secondary-color": #0063BE, //link color text
        "link-secondary-hover-color": #002A51, //link hover color

        // background
        "background-primary": #FFFFFF, //background primary color
        "background-secondary": #F0F4F9, //background secondary color
        "background-tertiary": #0063BE, //background tertiary color
        "background-quaternary": #002A51, //background quaternary color

        //border
        "border-primary": #0063BE, //border primary color
        "border-secondary": #002A51, //border secondary color
        "border-tertiary": #ffffff, //border tertiary color

        //button
        "button-font-size": 20px, //button font size

        //button primary
        "button-primary": #0063BE, //button primary color
        "button-primary-border": #0063BE, //button primary border color
        "button-primary-text": #0063BE, //button primary text color
        "button-primary-hover": #002A51, //button primary hover color

        //button secondary
        "button-secondary": #0063BE, //button secondary color
        "button-secondary-border": #0063BE, //button secondary border color
        "button-secondary-text": #0063BE, //button secondary text color
        "button-secondary-hover": #002A51, //button secondary hover color

        //tab
        "tab-primary-button-text-color": #0063BE, //tab text color
        "tab-primary-button-background-color": #FFFFFF, //tab background color
        "tab-primary-button-border-color": #A5B4C3, //tab border color
        "tab-primary-button-active-color": #002A51, //tab active color
        "tab-secondary-button-text-color": #ffffff, //tab secondary text color
        "tab-secondary-button-background-color": #FFFFFF, //tab secondary background color
        "tab-secondary-button-border-color": #0063BE, //tab secondary border color
        "tab-secondary-button-active-color": #0063BE, //tab secondary active color

        //accordion colors
        "accordion-primary-button-text-color": #0063BE, //accordion button text color
        "accordion-primary-button-text-size": 24px, //accordion button text size
        "accordion-primary-button-background-color": #F0F5FB, //accordion button background color
        "accordion-primary-button-border-color": #ffffff, //accordion button border color
        "accordion-primary-button-active-color": #ffffff, //accordion button active color

        //hero colors
        "hero-background-color": rgba(0, 99, 190, 0.7), //hero background color
        "hero-background-color-mobile": #0063BE, //hero background color
        "hero-background-color-no-image": #0063BE, //hero background color
        "hero-text-color": #ffffff, //hero text color
        "hero-button-color": #ffffff, //hero button color
        "hero-button-hover-color": #ffffff, //hero button hover color

        //carousel colors
        "carousel-background-color": #ffffff, //carousel background color
        "carousel-text-color": #0063BE, //carousel text color
        "carousel-button-color": #0063BE, //carousel button color
        "carousel-button-hover-color": #0063BE, //carousel button hover color
        "carousel-background-color-blue": #0063BE, //carousel background color
        "carousel-text-color-blue": #ffffff, //carousel text color
        "carousel-button-color-blue": #ffffff, //carousel button color
        "carousel-button-hover-color-blue": #ffffff, //carousel button hover color

        //footer
        "footer-background-color": #ffffff, //footer background color
        "footer-text-color": #000000, //footer text color
        "footer-link-color": #000000, //footer link color
        "footer-link-hover-color": #000000, //footer link hover color
        "footer-border-color": #0063BE, //footer border color
        "footer-button-color": rgb(0, 99, 190), //footer button color
        "footer-button-hover-color": rgb(0, 99, 190, 0.8), //footer button hover color
        "footer-text-size": 16px, //footer text size
        "footer-link-size": 18px, //footer link size

        //Header Colors
        "background-color-header": #ffffff,
        "text-navigation-link-size": 18px,
        "text-color-navigation-link": #0063BE,
        "text-color-navigation-link-hover": #0063BE,
        "text-color-navigation-link-active": #0063BE,
        "background-color-navigation-link-active-hover": #0063BE,
        "background-color-navigation-link-hover": #0063BE,
        "background-color-navigation-link-active": #0063BE,
        "background-color-submenu": rgba(255, 255, 255, 0.9),
        "text-color-submenu": #0063BE,
        "text-color-submenu-hover": #0063BE,
        "text-color-submenu-active": #0063BE,
        "text-color-submenu-active-hover": #0063BE,
        "search-icon-text-color": #0063BE,
        "search-modal-background-color": #0063BE,
        "search-modal-text-color": #ffffff,
        "search-modal-close-color": #ffffff,
        "search-modal-border-color": #ffffff,
        "language-navigation-text-color": #000000,

        //form colors
        "form-text-color": #0063BE, //form text color
        "form-text-border-color": #0063BE, //form text border color
        "form-text-background-color": #ffffff, //form text background color
        "form-text-placeholder-color": #0063BE, //form text placeholder color
        "form-text-focus-color": #0063BE, //form text focus color
        "form-text-hover-color": #0063BE, //form text hover color

        //login colors
        "modal-background-color": #ffffff,
        "modal-text-color": #000000,
        "modal-close-color": #0063BE,
        "modal-border-color": #0063BE,
    ),

    // Dark Blue Palette
    "green": ("text-primary": #008094, //heading color text
        "text-secondary": #333333, //body color text
        "text-tertiary": #ffffff, //link color text
        "text-quaternary": #008094, //link color text

        //link
        "link-primary-color": #008094, //link color text
        "link-primary-hover-color": #002A51, //link hover color
        "link-secondary-color": #0063BE, //link color text
        "link-secondary-hover-color": #002A51, //link hover color

        //background
        "background-primary": #ffffff, //background primary color
        "background-secondary": rgba(0, 56, 98, 0.1), //background secondary color
        "background-tertiary": #008094, //background tertiary color
        "background-quaternary": #002A51, //background quaternary color

        //border
        "border-primary": rgb(0, 128, 148), //border primary color
        "border-secondary": #002A51, //border secondary color
        "border-tertiary": #ffffff, //border tertiary color

        //button
        "button-font-size": 20px, //button font size

        //button primary
        "button-primary": #ffffff, //button primary color
        "button-primary-border": #008094, //button primary border color
        "button-primary-text": #008094, //button primary text color
        "button-primary-hover": rgba(0, 128, 148, 0.7), //button primary hover color

        //button secondary
        "button-secondary": #008094, //button secondary color
        "button-secondary-border": #008094, //button secondary border color
        "button-secondary-text": #008094, //button secondary text color
        "button-secondary-hover": rgba(0, 128, 148, 0.7), //button secondary hover color

        //tab colors
        "tab-primary-button-text-color": #008094, //tab text color
        "tab-primary-button-background-color": #FFFFFF, //tab background color
        "tab-primary-button-border-color": rgba(0, 128, 148, 0.3), //tab border color
        "tab-primary-button-active-color": #008094, //tab active color
        "tab-secondary-button-text-color": #ffffff, //tab secondary text color
        "tab-secondary-button-background-color": #FFFFFF, //tab secondary background color
        "tab-secondary-button-border-color": #008094, //tab secondary border color
        "tab-secondary-button-active-color": #ffffff, //tab secondary active color

        //accordion colors
        "accordion-primary-button-text-color": #008094, //accordion button text color
        "accordion-primary-button-text-size": 24px, //accordion button text size
        "accordion-primary-button-background-color": #F0F5FB, //accordion button background color
        "accordion-primary-button-border-color": #ffffff, //accordion button border color
        "accordion-primary-button-active-color": #ffffff, //accordion button active color

        //hero colors
        "hero-background-color":rgba(0, 128, 148, 0.7), //hero background color
        "hero-background-color-mobile": #008094, //hero background color
        "hero-background-color-no-image": #008094, //hero background color
        "hero-text-color": #ffffff, //hero text color
        "hero-button-color": #ffffff, //hero button color
        "hero-button-hover-color": #ffffff, //hero button hover color

        //carousel colors
        "carousel-background-color": #ffffff, //carousel background color
        "carousel-text-color": #008094, //carousel text color
        "carousel-button-color": #008094, //carousel button color
        "carousel-button-hover-color": #008094, //carousel button hover color
        "carousel-background-color-blue": #008094, //carousel background color
        "carousel-text-color-blue": #ffffff, //carousel text color
        "carousel-button-color-blue": #ffffff, //carousel button color
        "carousel-button-hover-color-blue": #ffffff, //carousel button hover color

        //footer
        "footer-background-color": #ffffff, //footer background color
        "footer-text-color": #000000, //footer text color
        "footer-link-color": #000000, //footer link color
        "footer-link-hover-color": #000000, //footer link hover color
        "footer-border-color": #008094, //footer border color
        "footer-button-color": #008094, //footer button color
        "footer-button-hover-color": rgba(255, 255, 255, 0.8), //footer button hover color
        "footer-text-size": 16px, //footer text size
        "footer-link-size": 18px, //footer link size

        //Header Colors
        "background-color-header": #ffffff,
        "text-navigation-link-size": 18px,
        "text-color-navigation-link": #008094,
        "text-color-navigation-link-hover": #008094,
        "text-color-navigation-link-active": #008094,
        "background-color-navigation-link-active-hover": #008094,
        "background-color-navigation-link-hover": #002A51,
        "background-color-navigation-link-active": #002A51,
        "background-color-submenu": rgba(255, 255, 255, 0.9),
        "text-color-submenu": #008094,
        "text-color-submenu-hover": #008094,
        "text-color-submenu-active": #008094,
        "text-color-submenu-active-hover": #008094,
        "search-icon-text-color": #008094,
        "search-modal-background-color": #008094,
        "search-modal-text-color": #ffffff,
        "search-modal-close-color": #ffffff,
        "search-modal-border-color": #ffffff,
        "language-navigation-text-color": #008094,

        //form colors
        "form-text-color": #008094, //form text color
        "form-text-border-color": #008094, //form text border color
        "form-text-background-color": #ffffff, //form text background color
        "form-text-placeholder-color": #008094, //form text placeholder color
        "form-text-focus-color": #008094, //form text focus color
        "form-text-hover-color": #008094, //form text hover color

        //login colors
        "modal-background-color": #ffffff,
        "modal-text-color": #000000,
        "modal-close-color": #008094,
        "modal-border-color": #008094,
    ));

// Root CSS Variables
:root {
    // Default palette (fallback)
    --text-primary: #{#000000}; // Primary blue text color
    --text-secondary: #{#000000}; // Lighter blue for secondary text
    --text-tertiary: #{#ffffff}; // White text color
    --text-quaternary: #{#000000}; // White text color
    --link-primary-color: #{#0063BE}; //link color text
    --link-primary-hover-color: #{#002A51}; //link hover color
    --link-secondary-color: #{#0063BE}; //link color text
    --link-secondary-hover-color: #{#002A51}; //link hover color
    --background-primary: #{#FFFFFF}; // Light blue background
    --background-secondary: #{#F0F4F9}; // Brighter blue background
    --background-tertiary: #{#0063BE}; // Brighter blue background
    --background-quaternary: #{#8baddb}; // Brighter blue background    
    --border-primary: #{#0063BE}; // Primary blue border
    --border-secondary: #{#002A51}; // Lighter blue border
    --border-tertiary: #{#ffffff}; //border tertiary color

    //button
    --button-font-size: 20px;

    //button primary
    --button-primary: #{#ffffff}; // Primary blue button
    --button-primary-border: #{#000000};
    --button-primary-text: #{#000000};
    --button-primary-hover: #{#000000}; // Darker blue on hover

    //button secondary
    --button-secondary: #{#000000}; // Lighter blue button
    --button-secondary-border: #{#000000};
    --button-secondary-text: #{#000000};
    --button-secondary-hover: #{#0063BE}; // Slightly darker on hover

    //Header Colors
    --background-color-header: #{#ffffff};
    --text-navigation-link-size: 18px;
    --text-color-navigation-link: #{#0063BE};
    --text-color-navigation-link-hover: #{#000000};
    --text-color-navigation-link-active: #{#000000};
    --background-color-navigation-link-active-hover: #{#000000};
    --background-color-navigation-link-hover: #{#000000};
    --background-color-navigation-link-active: #{#ffffff};
    --background-color-submenu: rgba(255, 255, 255, 0.9);
    --text-color-submenu: #{#000000};
    --text-color-submenu-hover: #{#000000};
    --text-color-submenu-active: #{#000000};
    --text-color-submenu-active-hover: #{#000000};
    --search-icon-text-color: #{#0063BE};
    --search-modal-background-color: #{#0063BE};
    --search-modal-text-color: #{#ffffff};
    --search-modal-close-color: #{#ffffff};
    --search-modal-border-color: #{#ffffff};
    --language-navigation-text-color: #{#000000};

    // Homecare footer palette
    --footer-background-color: #{#ffffff};
    --footer-text-color: #{#000000};
    --footer-link-color: #{#000000};
    --footer-link-hover-color: #{#000000};
    --footer-border-color: #000000;
    --footer-button-color: #{#0063BE};
    --footer-button-hover-color: #{rgba(#0063BE, 0.8)};
    --footer-text-size: 16px;
    --footer-link-size: 18px;

    //tab
    --tab-primary-button-text-color: #{#0063BE}; //tab text color
    --tab-primary-button-background-color: #{#FFFFFF}; //tab background color
    --tab-primary-button-border-color: #{#A5B4C3}; //tab border color
    --tab-primary-button-active-color: #{#002A51}; //tab active color
    --tab-secondary-button-text-color: #{#ffffff}; //tab secondary text color
    --tab-secondary-button-background-color: #{#FFFFFF}; //tab secondary background color
    --tab-secondary-button-border-color: #{#FFFFFF}; //tab secondary border color
    --tab-secondary-button-active-color: #{#FFFFFF}; //tab secondary active color

    //accordion colors
    --accordion-primary-button-text-color: #{#0063BE}; //accordion button text color
    --accordion-primary-button-text-size: 24px; //accordion button text size
    --accordion-primary-button-background-color: #{#F0F5FB}; //accordion button background color
    --accordion-primary-button-border-color: #{#ffffff}; //accordion button border color
    --accordion-primary-button-active-color: #{#ffffff}; //accordion button active color

    //hero colors
    --hero-background-color: transparent; //hero background color
    --hero-background-color-mobile: rgba(139, 173, 219, 1); //hero background color
    --hero-background-color-no-image: rgba(139, 173, 219, 1); //hero background color
    --hero-text-color: #{#ffffff}; //hero text color
    --hero-button-color: #{#ffffff}; //hero button color
    --hero-button-hover-color: #{#ffffff}; //hero button hover color

    //carousel colors
    --carousel-background-color: #{#ffffff};
    --carousel-text-color: #{#000000};
    --carousel-button-color: #{#000000};
    --carousel-button-hover-color: #{#000000};
    --carousel-background-color-blue: #{#0063BE};
    --carousel-text-color-blue: #{#ffffff};
    --carousel-button-color-blue: #{#ffffff};
    --carousel-button-hover-color-blue: #{#ffffff};

    //form colors
    --form-text-color: #{#000000}; //form text color
    --form-text-border-color: #{#000000}; //form text border color
    --form-text-background-color: #{#ffffff}; //form text background color
    --form-text-placeholder-color: #{#000000}; //form text placeholder color
    --form-text-focus-color: #{#000000}; //form text focus color
    --form-text-hover-color: #{#000000}; //form text hover color

    //login colors
    --modal-background-color: #{#ffffff};
    --modal-text-color: #{#000000};
    --modal-close-color: #{#0063BE};
    --modal-border-color: #{#0063BE};
}



// Generate palette CSS variables for each palette
@each $palette-name,
$palette-map in $palette-colors {
    .palette-#{$palette-name} {
        --text-secondary: #{map-get($palette-map, "text-secondary")};
        --text-primary: #{map-get($palette-map, "text-primary")};
        --text-tertiary: #{map-get($palette-map, "text-tertiary")};
        --text-quaternary: #{map-get($palette-map, "text-quaternary")};
        --link-primary-color: #{map-get($palette-map, "link-primary-color")};
        --link-primary-hover-color: #{map-get($palette-map, "link-primary-hover-color")};
        --link-secondary-color: #{map-get($palette-map, "link-secondary-color")};
        --link-secondary-hover-color: #{map-get($palette-map, "link-secondary-hover-color")};
        --background-primary: #{map-get($palette-map, "background-primary")};
        --background-secondary: #{map-get($palette-map, "background-secondary")};
        --background-tertiary: #{map-get($palette-map, "background-tertiary")};
        --background-quaternary: #{map-get($palette-map, "background-quaternary")};
        --border-primary: #{map-get($palette-map, "border-primary")};
        --border-secondary: #{map-get($palette-map, "border-secondary")};
        --border-tertiary: #{map-get($palette-map, "border-tertiary")};
        --button-font-size: #{map-get($palette-map, "button-font-size")};
        --button-primary: #{map-get($palette-map, "button-primary")};
        --button-primary-border: #{map-get($palette-map, "button-primary-border")};
        --button-primary-text: #{map-get($palette-map, "button-primary-text")};
        --button-primary-hover: #{map-get($palette-map, "button-primary-hover")};
        --button-secondary: #{map-get($palette-map, "button-secondary")};
        --button-secondary-border: #{map-get($palette-map, "button-secondary-border")};
        --button-secondary-text: #{map-get($palette-map, "button-secondary-text")};
        --button-secondary-hover: #{map-get($palette-map, "button-secondary-hover")};

        //Header Colors
        --background-color-header: #{map-get($palette-map, "background-color-header")};
        --text-navigation-link-size: #{map-get($palette-map, "text-navigation-link-size")};
        --text-color-navigation-link: #{map-get($palette-map, "text-color-navigation-link")};
        --text-color-navigation-link-hover: #{map-get($palette-map, "text-color-navigation-link-hover")};
        --text-color-navigation-link-active: #{map-get($palette-map, "text-color-navigation-link-active")};
        --background-color-navigation-link-active-hover: #{map-get($palette-map, "background-color-navigation-link-active-hover")};
        --background-color-navigation-link-hover: #{map-get($palette-map, "background-color-navigation-link-hover")};
        --background-color-navigation-link-active: #{map-get($palette-map, "background-color-navigation-link-active")};
        --background-color-submenu: #{map-get($palette-map, "background-color-submenu")};
        --text-color-submenu: #{map-get($palette-map, "text-color-submenu")};
        --text-color-submenu-hover: #{map-get($palette-map, "text-color-submenu-hover")};
        --text-color-submenu-active: #{map-get($palette-map, "text-color-submenu-active")};
        --text-color-submenu-active-hover: #{map-get($palette-map, "text-color-submenu-active-hover")};
        --search-icon-text-color: #{map-get($palette-map, "search-icon-text-color")};
        --search-modal-background-color: #{map-get($palette-map, "search-modal-background-color")};
        --search-modal-text-color: #{map-get($palette-map, "search-modal-text-color")};
        --search-modal-close-color: #{map-get($palette-map, "search-modal-close-color")};
        --search-modal-border-color: #{map-get($palette-map, "search-modal-border-color")};
        --language-navigation-text-color: #{map-get($palette-map, "language-navigation-text-color")};

        //tab
        --tab-primary-button-text-color: #{map-get($palette-map, "tab-primary-button-text-color")};
        --tab-primary-button-background-color: #{map-get($palette-map, "tab-primary-button-background-color")};
        --tab-primary-button-border-color: #{map-get($palette-map, "tab-primary-button-border-color")};
        --tab-primary-button-active-color: #{map-get($palette-map, "tab-primary-button-active-color")};
        --tab-secondary-button-text-color: #{map-get($palette-map, "tab-secondary-button-text-color")};
        --tab-secondary-button-background-color: #{map-get($palette-map, "tab-secondary-button-background-color")};
        --tab-secondary-button-border-color: #{map-get($palette-map, "tab-secondary-button-border-color")};
        --tab-secondary-button-active-color: #{map-get($palette-map, "tab-secondary-button-active-color")};

        //accordion colors
        --accordion-primary-button-text-color: #{map-get($palette-map, "accordion-primary-button-text-color")};
        --accordion-primary-button-text-size: #{map-get($palette-map, "accordion-primary-button-text-size")};
        --accordion-primary-button-background-color: #{map-get($palette-map, "accordion-primary-button-background-color")};
        --accordion-primary-button-border-color: #{map-get($palette-map, "accordion-primary-button-border-color")};
        --accordion-primary-button-active-color: #{map-get($palette-map, "accordion-primary-button-active-color")};

        //hero colors
        --hero-background-color: #{map-get($palette-map, "hero-background-color")};
        --hero-background-color-mobile: #{map-get($palette-map, "hero-background-color-mobile")};
        --hero-background-color-no-image: #{map-get($palette-map, "hero-background-color-no-image")};
        --hero-text-color: #{map-get($palette-map, "hero-text-color")};
        --hero-button-color: #{map-get($palette-map, "hero-button-color")};
        --hero-button-hover-color: #{map-get($palette-map, "hero-button-hover-color")};

        //carousel colors
        --carousel-background-color: #{map-get($palette-map, "carousel-background-color")};
        --carousel-text-color: #{map-get($palette-map, "carousel-text-color")};
        --carousel-button-color: #{map-get($palette-map, "carousel-button-color")};
        --carousel-button-hover-color: #{map-get($palette-map, "carousel-button-hover-color")};
        --carousel-background-color-blue: #{map-get($palette-map, "carousel-background-color-blue")};
        --carousel-text-color-blue: #{map-get($palette-map, "carousel-text-color-blue")};
        --carousel-button-color-blue: #{map-get($palette-map, "carousel-button-color-blue")};
        --carousel-button-hover-color-blue: #{map-get($palette-map, "carousel-button-hover-color-blue")};

        // Homecare footer palette
        --footer-background-color: #{map-get($palette-map, "footer-background-color")};
        --footer-text-color: #{map-get($palette-map, "footer-text-color")};
        --footer-link-color: #{map-get($palette-map, "footer-link-color")};
        --footer-link-hover-color: #{map-get($palette-map, "footer-link-hover-color")};
        --footer-border-color: #{map-get($palette-map, "footer-border-color")};
        --footer-button-color: #{map-get($palette-map, "footer-button-color")};
        --footer-button-hover-color: #{map-get($palette-map, "footer-button-hover-color")};
        --footer-text-size: #{map-get($palette-map, "footer-text-size")};
        --footer-link-size: #{map-get($palette-map, "footer-link-size")};

        //form colors
        --form-text-color: #{map-get($palette-map, "form-text-color")};
        --form-text-border-color: #{map-get($palette-map, "form-text-border-color")};
        --form-text-background-color: #{map-get($palette-map, "form-text-background-color")};
        --form-text-placeholder-color: #{map-get($palette-map, "form-text-placeholder-color")};
        --form-text-focus-color: #{map-get($palette-map, "form-text-focus-color")};
        --form-text-hover-color: #{map-get($palette-map, "form-text-hover-color")};

        //login colors
        --modal-background-color: #{map-get($palette-map, "modal-background-color")};
        --modal-text-color: #{map-get($palette-map, "modal-text-color")};
        --modal-close-color: #{map-get($palette-map, "modal-close-color")};
        --modal-border-color: #{map-get($palette-map, "modal-border-color")};
        --modal-button-color: #{map-get($palette-map, "modal-button-color")};
        --modal-button-hover-color: #{map-get($palette-map, "modal-button-hover-color")};
        --modal-button-border-color: #{map-get($palette-map, "modal-button-border-color")};
        --modal-button-text-color: #{map-get($palette-map, "modal-button-text-color")};
        --modal-button-hover-text-color: #{map-get($palette-map, "modal-button-hover-text-color")};
        --modal-button-active-color: #{map-get($palette-map, "modal-button-active-color")};
    }
}