:root {
    /* colors */
    --background-color: white;
    --light-color: #f8f8f8;
    --dark-color: #505050;
    --text-color: black;
    --link-color: #1071b0;
    --link-hover-color: #1071b0;
    --header-background: #1071b0;

    /* fonts */
    --body-font-family: roboto, roboto-fallback, sans-serif;
    --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

    /* body sizes */
    --body-font-size-m: 22px;
    --body-font-size-s: 19px;
    --body-font-size-xs: 17px;

    /* heading sizes */
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;

    /* nav height */
    --nav-height: 64px;

        /* Header colors */
        --background-color-header: var(--background-color);
        --text-navigation-link-size: 18px;
        --text-color-navigation-link: #040053;
        --text-color-navigation-link-hover: #040053;
        --text-color-navigation-link-active: #040053;
        --background-color-navigation-link-active-hover: #040053;
        --background-color-navigation-link-hover: #040053;
        --background-color-navigation-link-active: #040053;
        --background-color-submenu: #040053;
        --text-color-submenu: #040053;
        --text-color-submenu-hover: #040053;
        --text-color-submenu-active: #040053;
        --text-color-submenu-active-hover: #040053;
        --search-icon-text-color: #0063BE;
        --search-modal-background-color: #040053;
        --search-modal-text-color: #040053;
        --search-modal-close-color: #040053;
        --search-modal-border-color: #040053;
        --language-navigation-text-color: #040053   ;
    
        /* hero colors */
        --hero-background-color: linear-gradient(200deg,#0352fc, #0063BE); 
        --hero-background-color-mobile: linear-gradient(200deg,#0352fc, #0063BE); 
        --hero-background-color-no-image: #fff;
        --hero-text-color: #040053;
        --hero-button-color: #040053;
        --hero-button-hover-color: #040053;

        /* card colors */
        --card-background-color: pink;

        /* profile colors */
        --profile-background-color: #fff;
        --profile-author-prefix-color: #040053;
        --profile-author-name-color: #040053;
        --profile-link-color: #040053;
        --profile-link-hover-color: #040053;

        /* footer colors */
        --footer-background-color: #040053;
        --footer-text-color: #040053;
        --footer-link-color: #040053;
        --footer-link-hover-color: #040053;


        /* button colors */
        --button-background-color: #040053;
        --button-text-color: #040053;
        --button-hover-color: #040053;
        --button-border-color: #040053;
        --button-border-hover-color: #040053;
        --button-border-active-color: #040053;
        --button-border-active-hover-color: #040053;

        /* input colors */
        --input-background-color: #040053;
        --input-text-color: #040053;
        --input-border-color: #040053;
        --input-border-hover-color: #040053;
        --input-border-active-color: #040053;
        --input-border-active-hover-color: #040053;

        /* select colors */
        --select-background-color: #040053;
        --select-text-color: #040053;
        --select-border-color: #040053;
        --select-border-hover-color: #040053;
        --select-border-active-color: #040053;
        --select-border-active-hover-color: #040053;

        /* textarea colors */
        --textarea-background-color: #040053;
        --textarea-text-color: #040053;
        --textarea-border-color: #040053;
        --textarea-border-hover-color: #040053;
        --textarea-border-active-color: #040053;
        --textarea-border-active-hover-color: #040053;

        /* checkbox colors */
        --checkbox-background-color: #040053;
        --checkbox-text-color: #040053;
        --checkbox-border-color: #040053;
        --checkbox-border-hover-color: #040053;
        --checkbox-border-active-color: #040053;
        --checkbox-border-active-hover-color: #040053;

        /* radio colors */
        --radio-background-color: #040053;
        --radio-text-color: #040053;
        --radio-border-color: #040053;
        --radio-border-hover-color: #040053;
        --radio-border-active-color: #040053;
        --radio-border-active-hover-color: #040053;
}
